.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para centralizar verticalmente */
    text-align: center; /* Centraliza o texto */
  }
  
  h1, p, button {
    margin: 10px 0; /* Espaçamento entre os elementos */
  }
  